
backend/token.json
backend/form_token.json
backend/gmail_token.json
backend/credentials.json
backend/form_credentials.json
backend/__pycache__/
backend/pathParameters/__pycache__/
backend/.DS_Store
.DS_Store
frontend/node_modules/
frontend/node_models/.*

backend/examples/
new_front/node_modules/.*
new_front/node_modules/
