.stage_info {
    font-size: 20px;
    text-align: right;
}
.candidate_table .rdt_TableHeadRow{
    text-align: right;
    vertical-align: right;
    font-size: 20px;
    
}

.candidate_table {
    border-radius: 10px;
    border: 1px solid #e7e7e7;
}


.stage_qa {
    text-align: right;
    width: 200px;
    padding: 10px;
    white-space: pre;
}

.stage_qa .rdt_TableRow{
    text-align: right;
    width: 380px;
    padding: 10px;
}

.stage_qa .rdt_TableBody {
    text-align: right;
    width: 380px;
    padding: 10px;
}

.stage_qa .rdt_Table {
    text-align: right;
    width: 400px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}

.stage_qa .rdt_TableHead {
    height: 0px;
    text-align: right;
    width: 0px;
    padding: 0px;
 }

.note-table .rdt_TableHead {
    height: 0px;
    text-align: right;
    width: 0px;
    padding: 0px;
}


.stage_qa .rdt_TableHeader {
    width: 100px;
    text-align: right;
}


.qa_title {
    text-align: right;
    margin-right: 300px;
}

.input {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: right;
    width: 375px;
    height: 100px;
    max-lines: 5;
}

.commit {
    margin-top: 100px;
    height: 30px;
    width: 100px;
    margin-left: 10px;
}
.next_stage {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    margin-left: 10px;
}

.allnotes {
    text-align: right;
}

.all_nodes .rdt_TableHead {
    height: 0px;
    text-align: right;
    width: 0px;
    padding: 0px;
}