.popup {
    color:blue;
    background-color: blue;
    border-color: black;
    outline-color: black;
    width: 200px;
}
.modal {
    color: blue;
        background-color: blue;
        border-color: black;
        outline-color: black;
        width: 200px;
}