.react-search-field {
    /* width: max-content; */
    /* margin-left: 250px; */
    /* margin-top: 10px; */
    /* height: 25px; */
    /* display: flex; */
    width: max-content;
}
.selection-select {
    border-radius: 30px;
}
.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.keyword-select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.hidden_input {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    box-shadow: none;
}

label {
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    box-shadow: none;
}

.search-bar-input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.pill-container {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #f5f5f5;
    color: #333;
    position: relative;
}

.pill {
    background-color: transparent;
    border-color: transparent;
    width: min-content;
    display: inline-flex;
}

.remove-button {
    background-color: transparent;
    border: none;
    color: #999;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.green-button {
    padding: 0px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 30px;
}

.green-button:hover {
    background-color: #3e8e41;
}